/* Footer */

#footer_tving {
    position: relative;
    width: 100%;
    min-width: 980px;
    font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, '굴림', Gulim, HelveticaNeue-Light, AppleSDGothicNeo-Light, sans-serif;
    z-index: 21;
    background: #ffffff;
    * {
        font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, '굴림', Gulim, HelveticaNeue-Light, AppleSDGothicNeo-Light, sans-serif;
    }
    .footer_tving_notice_wrap {
        border-top: 1px solid #eeeeee;
    }

    .footer_tving_notice_inner {
        position: relative;
        margin: 0 auto;
        width: 980px;
        height: 50px;
    }

    .footer_tving_notice_list {
        padding: 0 320px 0 70px;
        height: 50px;
        dl {
            position: relative;
            height: 50px;
            display: block;
        }

        dt {
            position: absolute;
            left: -70px;
            top: 8px;
            font-size: 14px;
            color: #3e3e3e;
            line-height: 30px;
        }

        dd {
            position: relative;
            padding: 8px 0 14px 0;
            height: 30px;
            .footer_tving_notice_list_inner {
                width: 100%;
                height: 30px;
                overflow: hidden;
                ul {
                    position: relative;
                    left: 0;
                    top: 0;
                    li {
                        position: absolute;
                        width: 100%;
                        height: 30px;
                        a {
                            height: 30px;
                            font-size: 13px;
                            color: #9f9f9f;
                            text-decoration: none;
                            line-height: 30px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: block;
                        }
                    }
                }
            }
        }
    }


    .footer_tving_pullmenu {
        position: absolute;
        right: 0;
        top: 8px;
        width: 152px;
        height: 34px;
        display: block;
        .footer_tving_pullmenu_inner {
            position: relative;
            width: 152px;
            height: 34px;
            display: block;
        }

        .footer_tving_pullmenu_link {
            padding: 0 28px 0 11px;
            text-decoration: none;
            border: 1px solid #dedede;
            cursor: pointer;
            background: url(../images/header/bg_footer_tving_pullmenu.png) no-repeat right top;
            display: block;
            span {
                height: 32px;
                font-size: 12px;
                color: #4c4c4c;
                line-height: 32px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
            }
        }

        .footer_tving_pullmenu_list {
            position: absolute;
            left: 0;
            bottom: 33px;
            width: 152px;
            display: none;
            .scrollArea {
                position: relative;
                max-height: 299px;
                background: #ffffff;
                border: 1px solid #dedede;
                overflow: hidden;
                ul {
                    padding: 10px;
                    border: 0 none;
                    background: none;
                    li {
                        a {
                            padding: 0 8px;
                            height: 20px;
                            font-size: 12px;
                            color: #4c4c4c;
                            text-decoration: none;
                            line-height: 20px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: block;
                        }
                        p {
                            font-weight: bold;
                        }
                        ul {
                            padding: 5px 10px 10px 10px;
                            li a,
                            li a span {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
        &.footer_tving_pullmenu_brand {
            right: 206px;
        }

        &.footer_tving_pullmenu_family {
            width: 198px;
        }

        .footer_tving_pullmenu_inner,
        .footer_tving_pullmenu_list {
            width: 100%;
        }

        &.selected .footer_tving_pullmenu_list {
            display: block;
        }
    }


    .footer_tving_wrap {
        padding: 0 0 83px 0;
        background: #fafafa;
        .footer_tving_inner {
            position: relative;
            margin: 0 auto;
            width: 980px;
        }
    }


    .footer_tving_menu {
        padding: 26px 0 0 0;
        ul {
            text-align: center;
            li {
                padding: 0 7px;
                display: inline;
                a {
                    font-size: 14px;
                    color: #707070;
                    text-decoration: none;
                    line-height: 20px;
                    &.btn_footer_tving_menu_privacy {
                        color: #000000;
                        font-weight: bold;
                    }
                }
            }
        }
    }


    .footer_tving_address {
        padding: 21px 0 0 0;
        text-align: center;
        span {
            margin: 0 5px;
            font-size: 12px;
            color: #808080;
            line-height: 22px;
        }
    }


    .footer_tving_logo {
        padding: 16px 0 20px 0;
        a {
            position: relative;
            margin: 0 auto;
            width: 74px;
            height: 39px;
            font-size: 0;
            line-height: 0;
            text-indent: -99999px;
            background: url(../images/footer/bg_footer_tving_logo.png) no-repeat center center;
            display: block;
        }
    }

}

