.main-gnb {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 10;
  transition: all 0.3s ease-in-out 0s,
  visibility 0s linear 0.3s,
  z-index 0s linear 0.01s;

  &:hover{
    background: $color-white;
    .gnb-wrap {
      .main-menu{
        .dropdown {
          max-height: 350px;
        }
        .header_nav_bg {
          border-top: 1px solid #ddd;
        }
        .menu>li a {
          color: $color-black;
        }
        &+.gnb-txt li a {
          color: #707580;
          .user::before{
            background: url('../images/icon-login-on.png') no-repeat;
          }
        }
      }
      .header_open_logo a{
        background: url('../images/logo_open_on.png') no-repeat;
      }
    }
  }

  .gnb-wrap {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 33px auto 23px;

    .header_open_logo {
      margin: 5px 0 0 20px;
      a {
        display: block;
        background: url('../images/logo_open.png') no-repeat;
        width: 140px;
        height: 60px;
      }
    }

    // GNB
    .main-menu {
      overflow: hidden;
      margin-left: 125px;
      z-index: 10;

      &:hover {
        .dropdown {
          max-height: 350px;
        }

        .header_nav_bg {
          border-top: 1px solid #ddd;
        }

        .menu>li a {
          color: $color-black;
        }

        &+.gnb-txt li a {
          color: #333;
        }
      }

      .menu {
        width: 720px;
        display: flex;
        justify-content: space-between;

        >li {
          flex-basis: 180px;
          // &:last-child{
          //   flex-basis: 120px;
          // }

          a {
            padding: 20px 0;
            @include ff(nb);
            color: $color-white;
            font-size: 18px;
            display: block;
          }
        }
      }

      .dropdown {
        clear: both;
        width: 100%;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        //  작업후 원상복구
        max-height: 0;
        // max-height:340px;
        -webkit-transition: max-height 500ms ease;
        -moz-transition: max-height 500ms ease;
        -o-transition: max-height 500ms ease;
        transition: max-height 500ms ease;

        .row {
          padding: 50px 0 35px;
          display: block;
          width: 25%;

          >li {
            margin-bottom: 20px;

            a {
              @include ff(nm);
              font-weight: bold;
              font-size: 16px;
              color: #333;
              padding: 4px 0;
              position: relative;

              &::before {
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                content: ' ';
                border: 1px solid #f04b00;
                transform: scaleX(0);
                transition: transform 250ms ease-in-out;
                transform-origin: 0% 50%;
              }

              &:hover {
                color: #f04b00;

                &::before {
                  transform: scaleX(1);
                }
              }
            }

            ul {
              margin-top: 27px;

              >li {
                margin-bottom: 19px;
                position: relative;

                &::before {
                  content: "\2022";
                  text-indent: -5px;
                  position: absolute;
                  top: 3px;
                }

                a {
                  @include ff(nr);
                  font-weight: normal;
                  font-size: 14px;
                  margin-left: 10px;
                }

                &:hover::before {
                  color: #f04b00;
                }
              }
            }
          }
        }
      }

      .header_nav_bg {
        position: absolute;
        left: 0;
        top: 120px;
        width: 100%;
      }
    }

    .gnb-txt {
      display: flex;
      padding: 20px 0;
      // width: 123px;
      justify-content: flex-start;
      flex-direction: row-reverse;
      height: 130px;

      >li {
        font-size: 14px;
        padding-left: 10px;
        position: relative;
        padding-left: 10px;

        &:not(:first-child) {
          padding-right: 10px;
          padding-left: 0px;

          &::after {
            content: '';
            background: #ccc;
            width: 2px;
            height: 12px;
            display: inline-block;
            position: absolute;
            top: 4px;
            left: 70px;
          }
        }
        &:hover .user-sub {
          display: block;
        }

        .user-sub {
          width: 200px;
          position: absolute;
          display: none;
          top: 90px;
          li{
            display: block;
            a{
              position: relative;
              @include ff(nm);
              font-size: 14px;
              color: #707580;
              &::before {
                content: '';
                position: absolute;
                display: block;
                background: url('../images/icon-arrow-trial.png') no-repeat;
                width: 11px;
                height: 12px;
                left: -15px;
                top: 4px;

              }
            }
            &:not(:first-child){
              margin-top: 30px;
            }
          }
        }

        a {
          @include ff(nb);
          color: $color-white;
          .user {
            position: relative;
            &::before {
              content: '';
              position: absolute;
              display: block;
              background: url('../images/icon-login.png') no-repeat;
              width: 11px;
              height: 12px;
              left: -15px;
              top: 4px;

            }
          }
        }
      }
    }
  }
}