html {
  -webkit-text-size-adjust: none;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

dt{
  font-weight: inherit //mc
}

em,
i {
  font-style: normal;
}

img,
form,
fieldset,
svg {
  border: 0;
  vertical-align: top;
}

input,
button,
select {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  border: 0;
  background: none;
  box-shadow: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    border: 0;
    background: none; // ie11
    box-shadow: none;
  }

  &:disabled {
    cursor: default;
  }

  &::-moz-focus-inner {
    padding: 0;
    margin: -1px;
  }

  &:not(.primary) {
    box-shadow: none
  }

  //magento clear
}

ul,
ol {
  list-style: none;

  li {
    margin-bottom: 0; //mc
  }
}

a {
  color: $color-strong;
  text-decoration: none;

  &:hover,&:active {
    color: $color-strong;
    text-decoration: none;
  }
}

fieldset, .fieldset{ //mc
  margin: 0;
  letter-spacing: 0;
}

body,
textarea,
input,
select,
button {
  font-family: 'cr', Arial, sans-serif;
  font-weight: normal;
  color: $color-txt-default;
  // line-height: $line-height-default;
  //line break
  word-break:keep-all;
  word-wrap: break-word;
  text-overflow:clip;

  font-size: $txt-size-default-m;
  // @include mq('mo', min){
  //   font-size: $txt-size-default;
  // }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-strong;
  font-weight: inherit;
  line-height: inherit;
}
h1,
h2,
h3,
h4,
b,
strong{
  @include ff(bold);
}
b,
strong{
  font-weight: inherit;
}

.header-wrap {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;
  }
}

.fl {
  float: left
}
.fr {
  float: right
}

