/* common */
/* common */
/* font */
@font-face {
  font-family: 'cr';
  src: url("../CJ-ONLYONE-NEW-title-OTF-Medium.eot");
  src: url("../CJ-ONLYONE-NEW-title-OTF-Medium.eot?#iefix") format("embedded-opentype"), url("../CJ-ONLYONE-NEW-title-OTF-Medium.woff2") format("woff2"), url("../CJ-ONLYONE-NEW-title-OTF-Medium.woff") format("woff"), url("../CJ-ONLYONE-NEW-title-OTF-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cm';
  src: url("../fonts/CJ-ONLYONE-NEW-title-Medium.eot");
  src: url("../fonts/CJ-ONLYONE-NEW-title-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CJ-ONLYONE-NEW-title-Medium.woff2") format("woff2"), url("../fonts/CJ-ONLYONE-NEW-title-Medium.woff") format("woff"), url("../fonts/CJ-ONLYONE-NEW-title-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cb';
  src: url("../fonts/CJ-ONLYONE-NEW-title-OTF-Bold.eot");
  src: url("../fonts/CJ-ONLYONE-NEW-title-OTF-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CJ-ONLYONE-NEW-title-OTF-Bold.woff2") format("woff2"), url("../fonts/CJ-ONLYONE-NEW-title-OTF-Bold.woff") format("woff"), url("../fonts/CJ-ONLYONE-NEW-title-OTF-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fr';
  src: url("../fonts/futur.eot");
  src: url("../fonts/futur.eot?#iefix") format("embedded-opentype"), url("../fonts/futur.woff2") format("woff2"), url("../fonts/futur.woff") format("woff"), url("../fonts/futur.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fb';
  src: url("../fonts/futura heavy font.eot");
  src: url("../fonts/futura heavy font.eot?#iefix") format("embedded-opentype"), url("../fonts/futura heavy font.woff2") format("woff2"), url("../fonts/futura heavy font.woff") format("woff"), url("../fonts/futura heavy font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nr';
  src: url("../fonts/NotoSansCJKsc-Regular.eot");
  src: url("../fonts/NotoSansCJKsc-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKsc-Regular.woff2") format("woff2"), url("../fonts/NotoSansCJKsc-Regular.woff") format("woff"), url("../fonts/NotoSansCJKsc-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nn';
  src: url("../fonts/NotoSansCJKsc-Medium.eot");
  src: url("../fonts/NotoSansCJKsc-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKsc-Medium.woff2") format("woff2"), url("../fonts/NotoSansCJKsc-Medium.woff") format("woff"), url("../fonts/NotoSansCJKsc-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nb';
  src: url("../fonts/NotoSansCJKsc-Bold.eot");
  src: url("../fonts/NotoSansCJKsc-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKsc-Bold.woff2") format("woff2"), url("../fonts/NotoSansCJKsc-Bold.woff") format("woff"), url("../fonts/NotoSansCJKsc-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nt';
  src: url("../fonts/NotoSansCJKsc-Thin.eot");
  src: url("../fonts/NotoSansCJKsc-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKsc-Thin.woff2") format("woff2"), url("../fonts/NotoSansCJKsc-Thin.woff") format("woff"), url("../fonts/NotoSansCJKsc-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nblack';
  src: url("../fonts/NotoSansCJKsc-Black.eot");
  src: url("../fonts/NotoSansCJKsc-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKsc-Black.woff2") format("woff2"), url("../fonts/NotoSansCJKsc-Black.woff") format("woff"), url("../fonts/NotoSansCJKsc-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/** image  ******************************************************/
/** color ******************************************************/
/** size  ******************************************************/
/** font  ******************************************************/
/** gutter & padding  ******************************************/
html {
  -webkit-text-size-adjust: none;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

dt {
  font-weight: inherit;
}

em,
i {
  font-style: normal;
}

img,
form,
fieldset,
svg {
  border: 0;
  vertical-align: top;
}

input,
button,
select {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  border: 0;
  background: none;
  box-shadow: none;
  cursor: pointer;
}

button:hover, button:focus, button:active {
  border: 0;
  background: none;
  box-shadow: none;
}

button:disabled {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;
  margin: -1px;
}

button:not(.primary) {
  box-shadow: none;
}

ul,
ol {
  list-style: none;
}

ul li,
ol li {
  margin-bottom: 0;
}

a {
  color: #202020;
  text-decoration: none;
}

a:hover, a:visited, a:active {
  color: #202020;
  text-decoration: none;
}

fieldset, .fieldset {
  margin: 0;
  letter-spacing: 0;
}

body,
textarea,
input,
select,
button {
  font-family: 'cr', Arial, sans-serif;
  font-weight: normal;
  color: #666;
  word-break: keep-all;
  word-wrap: break-word;
  text-overflow: clip;
  font-size: 14px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #202020;
  font-weight: inherit;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
b,
strong {
  font-family: 'rb', 'nb', sans-serif;
  font-weight: normal;
}

b,
strong {
  font-weight: inherit;
}

.header-wrap h1,
.header-wrap h2,
.header-wrap h3,
.header-wrap h4,
.header-wrap h5,
.header-wrap h6 {
  display: inline-block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/* Footer */
.footer_tving {
  position: relative;
  width: 100%;
  min-width: 980px;
  font-family: 'cr';
  z-index: 21;
  background: #ffffff;
}

.footer_tving * {
  font-family: cr;
}

.footer_tving .footer_tving_notice_wrap {
  border-top: 1px solid #eeeeee;
}

.footer_tving .footer_tving_notice_inner {
  position: relative;
  margin: 0 auto;
  width: 980px;
  height: 50px;
}

.footer_tving .footer_tving_notice_list {
  padding: 0 320px 0 70px;
  height: 50px;
}

.footer_tving .footer_tving_notice_list dl {
  position: relative;
  height: 50px;
  display: block;
}

.footer_tving .footer_tving_notice_list dt {
  position: absolute;
  left: -70px;
  top: 8px;
  font-size: 14px;
  color: #3e3e3e;
  line-height: 30px;
}

.footer_tving .footer_tving_notice_list dd {
  position: relative;
  padding: 8px 0 14px 0;
  height: 30px;
}

.footer_tving .footer_tving_notice_list dd .footer_tving_notice_list_inner {
  width: 100%;
  height: 30px;
  overflow: hidden;
}

.footer_tving .footer_tving_notice_list dd .footer_tving_notice_list_inner ul {
  position: relative;
  left: 0;
  top: 0;
}

.footer_tving .footer_tving_notice_list dd .footer_tving_notice_list_inner ul li {
  position: absolute;
  width: 100%;
  height: 30px;
}

.footer_tving .footer_tving_notice_list dd .footer_tving_notice_list_inner ul li a {
  height: 30px;
  font-size: 13px;
  color: #9f9f9f;
  text-decoration: none;
  line-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.footer_tving .footer_tving_pullmenu {
  position: absolute;
  right: 0;
  top: 8px;
  width: 152px;
  height: 34px;
  display: block;
}

.footer_tving .footer_tving_pullmenu .footer_tving_pullmenu_inner {
  position: relative;
  width: 152px;
  height: 34px;
  display: block;
}

.footer_tving .footer_tving_pullmenu .footer_tving_pullmenu_link {
  padding: 0 28px 0 11px;
  text-decoration: none;
  border: 1px solid #dedede;
  cursor: pointer;
  background: url(../images/header/bg_footer_tving_pullmenu.png) no-repeat right top;
  display: block;
}

.footer_tving .footer_tving_pullmenu .footer_tving_pullmenu_link span {
  height: 32px;
  font-size: 12px;
  color: #4c4c4c;
  line-height: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.footer_tving .footer_tving_pullmenu .footer_tving_pullmenu_list {
  position: absolute;
  left: 0;
  bottom: 33px;
  width: 152px;
  display: none;
}

.footer_tving .footer_tving_pullmenu .footer_tving_pullmenu_list .scrollArea {
  position: relative;
  max-height: 299px;
  background: #ffffff;
  border: 1px solid #dedede;
  overflow: hidden;
}

.footer_tving .footer_tving_pullmenu .footer_tving_pullmenu_list .scrollArea ul {
  padding: 10px;
  border: 0 none;
  background: none;
}

.footer_tving .footer_tving_pullmenu .footer_tving_pullmenu_list .scrollArea ul li a {
  padding: 0 8px;
  height: 20px;
  font-size: 12px;
  color: #4c4c4c;
  text-decoration: none;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.footer_tving .footer_tving_pullmenu .footer_tving_pullmenu_list .scrollArea ul li p {
  font-weight: bold;
}

.footer_tving .footer_tving_pullmenu .footer_tving_pullmenu_list .scrollArea ul li ul {
  padding: 5px 10px 10px 10px;
}

.footer_tving .footer_tving_pullmenu .footer_tving_pullmenu_list .scrollArea ul li ul li a,
.footer_tving .footer_tving_pullmenu .footer_tving_pullmenu_list .scrollArea ul li ul li a span {
  padding: 0;
}

.footer_tving .footer_tving_pullmenu.footer_tving_pullmenu_brand {
  right: 206px;
}

.footer_tving .footer_tving_pullmenu.footer_tving_pullmenu_family {
  width: 198px;
}

.footer_tving .footer_tving_pullmenu .footer_tving_pullmenu_inner,
.footer_tving .footer_tving_pullmenu .footer_tving_pullmenu_list {
  width: 100%;
}

.footer_tving .footer_tving_pullmenu.selected .footer_tving_pullmenu_list {
  display: block;
}

.footer_tving .footer_tving_wrap {
  padding: 0 0 83px 0;
}

.footer_tving .footer_tving_wrap .footer_tving_inner {
  position: relative;
  margin: 0 auto;
}

.footer_tving .footer_tving_menu {
  padding: 0;
  background: #15181d;
  height: 45px;
}

.footer_tving .footer_tving_menu ul {
  width: 1200px;
  margin: 0 auto;
}

.footer_tving .footer_tving_menu ul li {
  padding: 10px 12px;
  display: inline-block;
  position: relative;
}

.footer_tving .footer_tving_menu ul li::before {
  content: '';
  background: #999;
  width: 1px;
  height: 9px;
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -3px;
}

.footer_tving .footer_tving_menu ul li:first-child::before {
  display: none;
}

.footer_tving .footer_tving_menu ul li a {
  font-size: 13px;
  color: #999;
  text-decoration: none;
  line-height: 20px;
  font-family: 'cm', Arial, sans-serif;
}

.footer_tving .footer_tving_menu ul li a.btn_footer_tving_menu_privacy {
  font-weight: bold;
}

.footer_tving .footer-info-wrap {
  display: flex;
  width: 1200px;
  margin: 24px auto 0;
}

.footer_tving .footer-info-wrap .footer_tving_logo {
  margin-right: 30px;
}

.footer_tving .footer-info-wrap .footer_tving_logo a {
  position: relative;
  margin: 0 auto;
  width: 96px;
  height: 49px;
  font-size: 0;
  line-height: 0;
  text-indent: -99999px;
  background: url(../images/bg_footer_tving_logo.png) no-repeat center center;
  display: block;
}

.footer_tving .footer-info-wrap .footer_tving_address p {
  font-size: 13px;
  line-height: 20px;
}

.footer_tving .footer-info-wrap .footer_tving_address p.copyright {
  margin-top: 4px;
}

.footer_tving .footer-info-wrap .footer_tving_address span {
  margin-left: 2px;
}

.main-menu {
  overflow: hidden;
  background: yellow;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.main-menu:hover .dropdown {
  max-height: 350px;
}

.main-menu .menu > li {
  float: left;
  width: 25%;
  padding: 20px 50px;
  border: 1px solid #000;
}

.main-menu .dropdown {
  clear: both;
  width: 100%;
  background: red;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 500ms ease;
  -moz-transition: max-height 500ms ease;
  -o-transition: max-height 500ms ease;
  transition: max-height 500ms ease;
}

.main-menu .dropdown .row {
  display: block;
  width: 25%;
  float: left;
}

/*# sourceMappingURL=customs.css.map */
